@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #FCD757;
}
main {
  flex: 1 0 auto;
}

.wrapper {
  width: 65%;
  margin: 0 auto;
  padding: 7em;
}

nav {
  background-color: #F8F8F8;
  height: 5em;
  margin-right: 1em;
}
nav ul a {
  font-family: 'Helvetica', sans-serif;
  color: #36393B;
  height: 5em;
}

.logo {
  font-family: 'Helvetica', sans-serif;
  color: #36393B;
  font-size: 36px;
  line-height: 1;
}

.page-footer {
  background-color: #F8F8F8;
}

.container {
  color: #36393B;
}

.flow-text {
  color: #000000;
  font-family: 'Nunito', sans-serif;
  font-size: 2em;
  line-height: 1;
}

.landing-img {
  width: 100%;
  margin: 0 auto;
  padding-top: 1.5em;
}
